@model KatalogProizvoda.Models.JednostavniProizvod
@{
    ViewBag.Title = "JednostavniProizvodi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jednostavni proizvodi</h2>
@Html.ActionLink("New Proizvod", "New", "JednostavniProizvod", null, new { @class = "btn btn-primary" })

