@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Poljana Dragutina Kalea 6 <br/>
    10 000 Zagreb
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:licitar.domagoj@gmail.com">licitar.domagoj@gmail.com</a>
</address>