@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IT proizvodi</h1>
    <p class="lead">
        Dobro došli u web stranicu IT proizvoda. Na ovoj web stranici se nalaze svi IT proizvodi
        koje koriste ljudi raznih zanimanja.
    </p>
    <p><a href="https://www.enciklopedija.hr/natuknica.aspx?id=50570" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Računala, miševi, tipkovnice...</h2>
        <p>
            Dobro došli u web stranicu IT proizvoda. Na ovoj web stranici se nalaze svi IT proizvodi 
            koje koriste ljudi raznih zanimanja.
        </p>
        <p><a class="btn btn-default" href="https://www.sancta-domenica.hr/racunala-i-periferija/tipkovnice-misevi-i-pc-audio.html">Klikni na link &raquo;</a></p>
    </div>
</div>