@model KatalogProizvoda.Models.ITProizvod
@{
    ViewBag.Title = "ITProizvodi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ITProizvodi</h2>
@Html.ActionLink("New Proizvod", "New", "ITProizvodi", null, new { @class = "btn btn-primary" })

